*
{
    box-sizing: border-box;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 5px, rgba(0,0,0,1);
    margin-top: 200px;
}
.logo img {
    width: 150px;
    margin-bottom: 20px;
}
.loginform input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
